input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="text"] {
    min-width: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="text"]:focus,
button:focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: 0px 0px 4px #2188ff;
}

@tailwind base;

body {
    color: #24292e;
}

p {
    @apply text-sm;
    color: #586069;
}

h1 {
    @apply text-2xl;
}

h4 {
    @apply font-bold text-sm;
}

label {
    @apply font-semibold text-sm;
    color: #24292e;
}

a {
    color: #0366d6;
}

@tailwind components;

.input {
    @apply px-3 py-1 rounded-md border border-gray-200 bg-gray-50;
}

.bg-green-150 {
    background: #94d3a2;
}

.text-gray-140 {
    color: #586069;
}

.text-green-350 {
    color: #22863a;
}

.text-gray-450 {
    color: #24292e;
}

.bg-owner {
    @apply bg-no-repeat;
    background-image: url("./imgs/bg-owner.png");
    background-position: left top 50%;
    background-size: 142px;
}

@tailwind utilities;
